* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Corpo da página */
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #2E7D32 0%, #43A047 50%, #7ED321 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    margin-left: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.esfera {
    margin-left: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 10px;
    height: 100px;
    background-color: #006400;
}

/* Cabeçalho */
.headerInicio {
    height: 70px;
    width: 100%;
    background: #2d4d1f;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.headerInicio img {
    width: 80px;
    height: 80px;
}

/* Conteúdo principal */
main {
    flex: 1;
    padding: 20px;
}

/* Grid dos cards */
.grid-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 20px;
}

/* Cards */
.card {
    width: 250px;
    height: 200px;
    background: #ffffff;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.card img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.card:hover {
    transform: scale(1.03);
}

.card-link {
    display: flex;
    align-items: center;
    /* alinha verticalmente */
    gap: 15px;
    /* espaço entre ícone e texto */
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

/* Rodapé Emergência */
footer {
    width: 90%;
    height: 60px;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 28px;
    margin-top: 150px;
}

footer img {
    width: 40px;
    height: 40px;
}

/* Container */
.container {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 140px);
    justify-content: center;
    align-items: center;
}


/* Container */
.container {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 140px);
    justify-content: center;
    align-items: center;
}

/* Formulário */
.formulario {
    width: 600px;
    background-color: #43A047;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(44, 85, 38, 0.493);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.formulario h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.formulario p {
    color: #ffffff;
    margin-bottom: 25px;
}

.formulario label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    color: #ffffff;
}

.formulario label a {
    color: #ffffff;
}

.formulario input[type="email"],
.formulario input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Opções */
.opcoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 25px;
    font-size: 14px;
}

.opcoes a {
    text-decoration: none;
    color: #fff;
}

.opcoes a:hover {
    text-decoration: underline;
}

/* Botões */
button {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #fff;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #074e10;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.05);
}

.entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    padding: 4px;
    border: none;
    border-radius: 6px;
    background-color: #1c6126;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-left: 85px;
}

.entrar:hover {
    background-color: #074e10;
}

.entrar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    padding: 4px;
    border: none;
    border-radius: 6px;
    background-color: #1c6126;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* CADASTRO */
.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.formulario_cadastro {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #43A047;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(44, 85, 38, 0.493);
}

.logo_login_cadastro {
    width: 250px;
    height: 100%;
    display: flex;
    margin-bottom: 30px;
}

.formulario_cadastro h2 {
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 30px;
    align-self: center;
}

.formulario_cadastro p {
    color: #666;
    margin-bottom: 25px;
}

.formulario_cadastro label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
    color: #ffffff;
}

.formulario_cadastro input[type="email"],
.formulario_cadastro input[type="password"],
.formulario_cadastro input[type="text"],
.formulario_cadastro input[type="date"],
.formulario_cadastro input[type="tel"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #666;
}

.botao_cadastro {
    width: 223px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #1c6126;
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-top: 20px;
}

.botao_cadastro:hover {
    background-color: #074e10;
}

/* INICIO */

/* Grid de cards */
.grid-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.card {
    width: 250px;
    height: 200px;
    background: #000;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    background: #222;
    transform: scale(1.03);
}

/* Botão de emergência */
.emergencia {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    background: #000;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.emergencia:hover {
    background: #c62828;
}